<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="at.fhv.multisync.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="at.fhv.multisync.Perspective"
            id="MultiSync.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
         <menu
               label="Window">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="Show view"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
