<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="at.fhv.multisync.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="at.fhv.multisync.Perspective"
            id="MultiSync.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="at.fhv.multisync.ui.views.JobExplorer"
            id="MultiSync.view.JobExplorer"
            name="Job Explorer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="true"
               id="MultiSync.view.JobExplorer"
               minimized="false"
               ratio="0.3"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               relationship="bottom"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
         <menu
               label="Edit">
            <command
                  commandId="at.multisync.job.edit"
                  label="Edit Job"
                  style="push">
            </command>
            <command
                  commandId="MultiSync.JobPreferences"
                  label="Job Preferences"
                  style="push">
            </command>
         </menu>
         <menu
               label="View">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="Show view"
                  style="push">
            </command>
         </menu>
         <menu
               label="Help">
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  label="About MultiSync"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.help.helpContents"
                  label="Contents"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="at.fhv.multisync.maintoolbar"
               label="Toolbar">
            <command
                  commandId="at.multisync.RunSync"
                  icon="icons/control_play_blue_16.png"
                  label="Run sync"
                  style="push">
            </command>
            <command
                  commandId="at.multisync.job.add"
                  icon="icons/plus-circle.png"
                  label="Add Job"
                  style="push">
            </command>
            <command
                  commandId="at.multisync.jobgroup.add"
                  icon="icons/folder-plus.png"
                  label="Add group"
                  style="push">
            </command>
            <command
                  commandId="at.multisync.job.remove"
                  icon="icons/minus-circle.png"
                  label="Remove"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.save"
                  icon="icons/disk.png"
                  label="Save"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:MultiSync.view.JobExplorer">
         <command
               commandId="at.multisync.job.add"
               label="One item selected"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            extradir="help/toc.xml"
            file="help/toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="at.fhv.multisync.ui.handlers.HandlerJobEdit"
            description="Edits a job"
            id="at.multisync.job.edit"
            name="Edit job">
      </command>
      <command
            defaultHandler="at.fhv.multisync.ui.handlers.HandlerRunSync"
            description="Run sync program"
            id="at.multisync.RunSync"
            name="Run sync">
      </command>
      <command
            defaultHandler="at.fhv.multisync.ui.handlers.PreferenceHandler"
            id="MultiSync.JobPreferences"
            name="Show Job Preferences">
      </command>
      <command
            defaultHandler="at.fhv.multisync.ui.handlers.HandlerJobAdd"
            description="Adds a new job."
            id="at.multisync.job.add"
            name="Add job">
      </command>
      <command
            defaultHandler="at.fhv.multisync.ui.handlers.HandlerJobGroupAdd"
            description="Adds a new job group."
            id="at.multisync.jobgroup.add"
            name="Add group">
      </command>
      <command
            defaultHandler="at.fhv.multisync.ui.handlers.HandlerRemoveJob"
            description="Removes a job or job group"
            id="at.multisync.job.remove"
            name="Remove job/group">
      </command>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="MultiSync.application"
            name="MultiSync">
         <property
               name="appName"
               value="MultiSync">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.core.runtime.products">
      <product
            application="at.fhv.multisync.Application"
            name="MultiSync">
         <property
               name="appName"
               value="MultiSync">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="at.fhv.multisync.ui.preferences.JobPreferencePage"
            id="at.fhv.multisync.preferences.JobPreferencePage"
            name="Job Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="at.fhv.multisync.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="at.multisync.RunSync"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="at.fhv.multisync.ui.editors.JobEditor"
            default="false"
            id="MultiSync.editor.JobEditor"
            name="JobEditor">
      </editor>
   </extension>

</plugin>
