<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="at.fhv.multisync.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="at.fhv.multisync.Perspective"
            id="MultiSync.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="at.fhv.multisync.ui.views.LogView"
            id="MultiSync.view.LogView"
            name="Log"
            restorable="true">
      </view>
      <view
            class="at.fhv.multisync.ui.views.JobExplorer"
            id="MultiSync.view.JobExplorer"
            name="Job Explorer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="true"
               id="MultiSync.view.LogView"
               minimized="false"
               ratio="0.7"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               closeable="true"
               id="MultiSync.view.JobExplorer"
               minimized="false"
               ratio="0.3"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
         <menu
               label="Edit">
            <command
                  commandId="at.multisync.job.edit"
                  label="Edit Job"
                  style="push">
            </command>
         </menu>
         <menu
               label="View">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="Show view"
                  style="push">
            </command>
         </menu>
         <menu
               label="Help">
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  label="About MultiSync"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.help.helpContents"
                  label="Help!"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Opens a view"
            id="at.multisync.openview"
            name="ShowView">
      </command>
      <command
            description="shows a message"
            id="at.multisync.openmsg"
            name="msg">
      </command>
      <command
            description="Edits a job"
            id="at.multisync.job.edit"
            name="Edit job">
      </command>
   </extension>

</plugin>
